<app-header title="Administración"></app-header>

<ion-content>
<div style="padding: 20px;">

  <ion-card routerLink="/app/product-list" class="shadow" color="primary" style="padding: 20px; ">
    <div style="font-weight: bold; font-size: 18px; text-align: center;">
      <ion-icon name="cart"  style="font-size: 60px;"></ion-icon> <br>
      Productos</div>
  </ion-card>

<ion-card routerLink="/app/user-list" class="shadow" color="primary" style="padding: 20px; ">
  <div style="font-weight: bold; font-size: 18px; text-align: center;">
    <ion-icon name="person-circle-outline"  style="font-size: 60px;"></ion-icon> <br>
    Usuarios</div>
</ion-card>

</div>


</ion-content>
