<ion-content>
    <div class="login-section ion-padding">
        <div class="heading ion-padding">
         <h1>Welcome!</h1>
         <p>Sign in to continue</p>
        </div>
        <div class="login-form ion-padding">
            <div class="form-input">
                <ion-icon name="mail-outline">
                </ion-icon>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input  [(ngModel)]="user.email" type="email" required></ion-input>
                </ion-item>
            </div>
          
         

            <div class="form-input">
                <ion-icon name="lock-closed-outline">
                </ion-icon>
                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input  [(ngModel)]="user.password" type="password" required></ion-input>
                </ion-item>
            </div>
        </div>
<center>
            <ion-button (click)="login()">Log in</ion-button>
            <p style="font-size: 13px;color: gray;">Forgot password ?</p>
            <ion-button  fill="outline" routerLink="/signup">Sign up</ion-button>
</center>

    </div>
</ion-content>
